.input-div {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
}

.input-label {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
	margin-left: 0.5rem;
}
