@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--arrow-bg: rgba(255, 255, 255, 0.3);
	--arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
	--option-bg: rgb(227, 186, 0);
	--select-bg: white;
}

body {
	background-image: url("https://images.unsplash.com/photo-1529963183134-61a90db47eaf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

select {
	/* Reset */
	appearance: none;
	border: 0;
	outline: 0;
	font: inherit;
	/* Personalize */
	width: 100%;
	padding: 1rem 4rem 1rem 1rem;
	background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
		linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
	color: black;
	border-radius: 1em;
	box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
	cursor: pointer;
	/* Remove IE arrow */
	&::-ms-expand {
		display: none;
	}
	/* Remove focus outline */
	&:focus {
		outline: none;
	}
	/* <option> colors */
	option {
		color: inherit;
		background-color: var(--option-bg);
	}
}
